/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-container{
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.logo{
    height: 50px;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.logo img{
    height: 50px;
    width: 100px;
    margin-left: 40px;
}
nav{
    margin-top: 30px;
    margin-bottom: 10px;
}
nav ul li{
    display: inline;
    margin-left: 35px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
   
}
nav ul li a:hover{
    color: red;
    text-decoration:underline;
}
.resume button{
    background: red;
    font-size: 1.2rem;
    padding: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 7px;
    animation: download 1.5s infinite;
    margin-right: 70px;
    border: none;
}
.resume a{
    text-decoration: none;
    color: white;
}
@keyframes download{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(7px);
    }
}
.resume :hover{
    background:white;
    color: red;
}





@media screen and (max-width: 2000px) {
    .flip{
        display: none;
    }
    .show{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .main-container{
        flex-wrap: wrap;
    }
    nav{
        display: none;
    }
    .resume{
        display: none;
    }
    .flip{
        display:block;
    }
} */

.navicons{
    text-align: center;
    
}
.navicons ul{
    list-style-type: none;
}
.navicons ul li a{
    text-decoration: none;
    font-size: 1.4rem;
}
.navicons ul li a:hover{
    color: red;
}